body {
  background: url(../img/Césped-Deportivo.jpg);
  background-size: contain;
  padding-bottom: 35px;
}

@media all and (orientation: portrait) {}

@media all and (orientation: landscape) {}

.material-icons.md-36 {
  font-size: 36px;
}

.noVisible {
  display: none;
}

.visible {
  display: block;
}

.avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../img/person.svg);
  display: inline-block;
}